backend/src/main/resources/AzureBlob-To-RagStudio-Nifi-template.json
{
  "flowContents": {
    "identifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
    "instanceIdentifier": "6850d3e7-0195-1000-ffff-ffffeb939fa7",
    "name": "Azure Blob Storage To RagStudio",
    "position": {
      "x": 712.0,
      "y": 200.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "7c48c59c-b690-4604-bb73-70e72fdcf6c1",
        "instanceIdentifier": "ff15066b-5200-3d1c-8904-a78aa1591e2c",
        "name": "LogAttribute",
        "comments": "",
        "position": {
          "x": -8.0,
          "y": 872.0
        },
        "type": "org.apache.nifi.processors.standard.LogAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.28.1.2.3.15.0-14"
        },
        "properties": {
          "Log prefix": null,
          "character-set": "UTF-8",
          "Log FlowFile Properties": "true",
          "Log Level": "info",
          "attributes-to-ignore-regex": null,
          "Attributes to Ignore": null,
          "Attributes to Log": null,
          "attributes-to-log-regex": ".*",
          "Output Format": "Line per Attribute",
          "Log Payload": "false"
        },
        "propertyDescriptors": {
          "Log prefix": {
            "name": "Log prefix",
            "displayName": "Log prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "character-set": {
            "name": "character-set",
            "displayName": "Character Set",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log FlowFile Properties": {
            "name": "Log FlowFile Properties",
            "displayName": "Log FlowFile Properties",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Level": {
            "name": "Log Level",
            "displayName": "Log Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-ignore-regex": {
            "name": "attributes-to-ignore-regex",
            "displayName": "Attributes to Ignore by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Ignore": {
            "name": "Attributes to Ignore",
            "displayName": "Attributes to Ignore",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Log": {
            "name": "Attributes to Log",
            "displayName": "Attributes to Log",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attributes-to-log-regex": {
            "name": "attributes-to-log-regex",
            "displayName": "Attributes to Log by Regular Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Output Format": {
            "name": "Output Format",
            "displayName": "Output Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Log Payload": {
            "name": "Log Payload",
            "displayName": "Log Payload",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "aebf5fe8-b475-39e5-8dac-84f5c87498a5",
        "instanceIdentifier": "92d46df2-7d2b-37ff-87a3-c3f0d2b9b5d8",
        "name": "IdentifyMimeType",
        "comments": "",
        "position": {
          "x": 1392.0,
          "y": 24.0
        },
        "type": "org.apache.nifi.processors.standard.IdentifyMimeType",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.28.1.2.3.15.0-14"
        },
        "properties": {
          "config-file": null,
          "use-filename-in-detection": "true",
          "config-body": null
        },
        "propertyDescriptors": {
          "config-file": {
            "name": "config-file",
            "displayName": "Config File",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "use-filename-in-detection": {
            "name": "use-filename-in-detection",
            "displayName": "Use Filename In Detection",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "config-body": {
            "name": "config-body",
            "displayName": "Config Body",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "fd1fb338-0e48-4826-b28c-f2674b79c112",
        "instanceIdentifier": "9ccaa2dc-d7c9-3cbd-9cef-610b3f6971cd",
        "name": "InvokeHTTP",
        "comments": "",
        "position": {
          "x": 696.0,
          "y": 872.0
        },
        "type": "org.apache.nifi.processors.standard.InvokeHTTP",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.28.1.2.3.15.0-14"
        },
        "properties": {
          "Proxy Host": null,
          "Attributes to Send": null,
          "use-etag": "false",
          "proxy-configuration-service": null,
          "Proxy Type": "http",
          "cookie-strategy": "DISABLED",
          "Connection Timeout": "5 secs",
          "send-message-body": "true",
          "Authorization": "#{Authorization token}",
          "set-form-filename": "true",
          "Always Output Response": "false",
          "etag-max-cache-size": "10MB",
          "Content-Encoding": "DISABLED",
          "disable-http2": "False",
          "idle-timeout": "5 mins",
          "Put Response Body In Attribute": null,
          "Use Chunked Encoding": "false",
          "Follow Redirects": "True",
          "Remote URL": "#{Rag Studio URL}/api/v1/rag/dataSources/#{Rag Studio Datasource ID}/files",
          "form-body-form-name": "file",
          "Content-Type": "${mime.type}",
          "flow-file-naming-strategy": "RANDOM",
          "max-idle-connections": "5",
          "invokehttp-proxy-user": null,
          "Read Timeout": "15 secs",
          "Socket Write Timeout": "15 secs",
          "Max Length To Put In Attribute": "256",
          "ignore-response-content": "false",
          "Proxy Port": null,
          "SSL Context Service": "8cb5ccad-14a6-4a8a-9f96-88636d64092b",
          "Digest Authentication": "false",
          "HTTP Method": "POST",
          "Add Response Headers to Request": "false",
          "oauth2-access-token-provider": null,
          "Basic Authentication Username": null,
          "Include Date Header": "True",
          "Penalize on \"No Retry\"": "false",
          "Useragent": null
        },
        "propertyDescriptors": {
          "Proxy Host": {
            "name": "Proxy Host",
            "displayName": "Proxy Host",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Attributes to Send": {
            "name": "Attributes to Send",
            "displayName": "Request Header Attributes Pattern",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "use-etag": {
            "name": "use-etag",
            "displayName": "Response Cache Enabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Proxy Type": {
            "name": "Proxy Type",
            "displayName": "Proxy Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Basic Authentication Password": {
            "name": "Basic Authentication Password",
            "displayName": "Request Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "cookie-strategy": {
            "name": "cookie-strategy",
            "displayName": "Response Cookie Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Connection Timeout": {
            "name": "Connection Timeout",
            "displayName": "Socket Connect Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "send-message-body": {
            "name": "send-message-body",
            "displayName": "Request Body Enabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Authorization": {
            "name": "Authorization",
            "displayName": "Authorization",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "set-form-filename": {
            "name": "set-form-filename",
            "displayName": "Request Multipart Form-Data Filename Enabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Always Output Response": {
            "name": "Always Output Response",
            "displayName": "Response Generation Required",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "etag-max-cache-size": {
            "name": "etag-max-cache-size",
            "displayName": "Response Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Content-Encoding": {
            "name": "Content-Encoding",
            "displayName": "Request Content-Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "disable-http2": {
            "name": "disable-http2",
            "displayName": "HTTP/2 Disabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "idle-timeout": {
            "name": "idle-timeout",
            "displayName": "Socket Idle Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Put Response Body In Attribute": {
            "name": "Put Response Body In Attribute",
            "displayName": "Response Body Attribute Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Use Chunked Encoding": {
            "name": "Use Chunked Encoding",
            "displayName": "Request Chunked Transfer-Encoding Enabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Follow Redirects": {
            "name": "Follow Redirects",
            "displayName": "Response Redirects Enabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Remote URL": {
            "name": "Remote URL",
            "displayName": "HTTP URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "form-body-form-name": {
            "name": "form-body-form-name",
            "displayName": "Request Multipart Form-Data Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Content-Type": {
            "name": "Content-Type",
            "displayName": "Request Content-Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "flow-file-naming-strategy": {
            "name": "flow-file-naming-strategy",
            "displayName": "Response FlowFile Naming Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max-idle-connections": {
            "name": "max-idle-connections",
            "displayName": "Socket Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "invokehttp-proxy-user": {
            "name": "invokehttp-proxy-user",
            "displayName": "Proxy Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Read Timeout": {
            "name": "Read Timeout",
            "displayName": "Socket Read Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Socket Write Timeout": {
            "name": "Socket Write Timeout",
            "displayName": "Socket Write Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Length To Put In Attribute": {
            "name": "Max Length To Put In Attribute",
            "displayName": "Response Body Attribute Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "invokehttp-proxy-password": {
            "name": "invokehttp-proxy-password",
            "displayName": "Proxy Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "ignore-response-content": {
            "name": "ignore-response-content",
            "displayName": "Response Body Ignored",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Proxy Port": {
            "name": "Proxy Port",
            "displayName": "Proxy Port",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Digest Authentication": {
            "name": "Digest Authentication",
            "displayName": "Request Digest Authentication Enabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "HTTP Method": {
            "name": "HTTP Method",
            "displayName": "HTTP Method",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Add Response Headers to Request": {
            "name": "Add Response Headers to Request",
            "displayName": "Response Header Request Attributes Enabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "oauth2-access-token-provider": {
            "name": "oauth2-access-token-provider",
            "displayName": "Request OAuth2 Access Token Provider",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Basic Authentication Username": {
            "name": "Basic Authentication Username",
            "displayName": "Request Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Include Date Header": {
            "name": "Include Date Header",
            "displayName": "Request Date Header Enabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Penalize on \"No Retry\"": {
            "name": "Penalize on \"No Retry\"",
            "displayName": "Request Failure Penalization Enabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Useragent": {
            "name": "Useragent",
            "displayName": "Request User-Agent",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "INFO",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "ac873fb9-b9c4-31b6-a68e-a8eaaf858635",
        "instanceIdentifier": "d2b111e3-f287-3978-9caf-944dfe660452",
        "name": "CompressContent",
        "comments": "",
        "position": {
          "x": 1392.0,
          "y": 440.0
        },
        "type": "org.apache.nifi.processors.standard.CompressContent",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.28.1.2.3.15.0-14"
        },
        "properties": {
          "Compression Format": "use mime.type attribute",
          "Mode": "compress",
          "Compression Level": "1",
          "Update Filename": "false"
        },
        "propertyDescriptors": {
          "Compression Format": {
            "name": "Compression Format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Mode": {
            "name": "Mode",
            "displayName": "Mode",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Compression Level": {
            "name": "Compression Level",
            "displayName": "Compression Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Update Filename": {
            "name": "Update Filename",
            "displayName": "Update Filename",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "1945a661-36e2-3db4-a3b8-cec2201860e2",
        "instanceIdentifier": "68b85cea-0195-1000-ffff-ffffa9efbe21",
        "name": "FetchAzureBlobStorage_v12",
        "comments": "",
        "position": {
          "x": 704.0,
          "y": 24.0
        },
        "type": "org.apache.nifi.processors.azure.storage.FetchAzureBlobStorage_v12",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-azure-nar",
          "version": "1.28.1.2.3.15.0-14"
        },
        "properties": {
          "range-length": null,
          "range-start": null,
          "blob-name": "${azure.blobname}",
          "proxy-configuration-service": null,
          "Client-Side Encryption Key ID": null,
          "storage-credentials-service": "2ce885a8-39f5-31c2-99c5-713b885c2719",
          "container-name": "${azure.container}",
          "Client-Side Encryption Key Type": "NONE"
        },
        "propertyDescriptors": {
          "range-length": {
            "name": "range-length",
            "displayName": "Range Length",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "range-start": {
            "name": "range-start",
            "displayName": "Range Start",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "blob-name": {
            "name": "blob-name",
            "displayName": "Blob Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Client-Side Encryption Key ID": {
            "name": "Client-Side Encryption Key ID",
            "displayName": "Client-Side Encryption Key ID",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "storage-credentials-service": {
            "name": "storage-credentials-service",
            "displayName": "Storage Credentials",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "container-name": {
            "name": "container-name",
            "displayName": "Container Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Client-Side Encryption Key Type": {
            "name": "Client-Side Encryption Key Type",
            "displayName": "Client-Side Encryption Key Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Client-Side Encryption Local Key": {
            "name": "Client-Side Encryption Local Key",
            "displayName": "Client-Side Encryption Local Key",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "5c29168b-4c86-3675-98c8-145b7e6414ad",
        "instanceIdentifier": "43a67f33-5739-3072-b086-4fe2463c972f",
        "name": "UnpackContent",
        "comments": "",
        "position": {
          "x": 1392.0,
          "y": 864.0
        },
        "type": "org.apache.nifi.processors.standard.UnpackContent",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.28.1.2.3.15.0-14"
        },
        "properties": {
          "Packaging Format": "use mime.type attribute",
          "allow-stored-entries-wdd": "false",
          "File Filter": ".*"
        },
        "propertyDescriptors": {
          "Packaging Format": {
            "name": "Packaging Format",
            "displayName": "Packaging Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "allow-stored-entries-wdd": {
            "name": "allow-stored-entries-wdd",
            "displayName": "Allow Stored Entries With Data Descriptor",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "File Filter": {
            "name": "File Filter",
            "displayName": "File Filter",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "original",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "1aacf5b2-fac9-30eb-8ecd-4c580aea2c11",
        "instanceIdentifier": "68b20a70-0195-1000-ffff-ffffb73cebd2",
        "name": "ListAzureBlobStorage_v12",
        "comments": "",
        "position": {
          "x": 48.0,
          "y": 24.0
        },
        "type": "org.apache.nifi.processors.azure.storage.ListAzureBlobStorage_v12",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-azure-nar",
          "version": "1.28.1.2.3.15.0-14"
        },
        "properties": {
          "Minimum File Age": "0 sec",
          "et-initial-listing-target": "all",
          "Maximum File Age": null,
          "record-writer": null,
          "proxy-configuration-service": null,
          "Maximum File Size": null,
          "storage-credentials-service": "2ce885a8-39f5-31c2-99c5-713b885c2719",
          "et-time-window": "3 hours",
          "container-name": "#{Azure Storage Container Name}",
          "blob-name-prefix": null,
          "listing-strategy": "timestamps",
          "Minimum File Size": "0 B",
          "et-state-cache": null
        },
        "propertyDescriptors": {
          "Minimum File Age": {
            "name": "Minimum File Age",
            "displayName": "Minimum File Age",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "et-initial-listing-target": {
            "name": "et-initial-listing-target",
            "displayName": "Entity Tracking Initial Listing Target",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Maximum File Age": {
            "name": "Maximum File Age",
            "displayName": "Maximum File Age",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Maximum File Size": {
            "name": "Maximum File Size",
            "displayName": "Maximum File Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "storage-credentials-service": {
            "name": "storage-credentials-service",
            "displayName": "Storage Credentials",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "et-time-window": {
            "name": "et-time-window",
            "displayName": "Entity Tracking Time Window",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "container-name": {
            "name": "container-name",
            "displayName": "Container Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "blob-name-prefix": {
            "name": "blob-name-prefix",
            "displayName": "Blob Name Prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "listing-strategy": {
            "name": "listing-strategy",
            "displayName": "Listing Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Minimum File Size": {
            "name": "Minimum File Size",
            "displayName": "Minimum File Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "et-state-cache": {
            "name": "et-state-cache",
            "displayName": "Entity Tracking State Cache",
            "identifiesControllerService": true,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "1 min",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "PRIMARY",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "e4ac080e-9fb6-3501-b8b7-863ae98d4be2",
        "instanceIdentifier": "8d40c4f1-915e-3c7b-916d-e76e3b9cbebe",
        "name": "",
        "source": {
          "id": "aebf5fe8-b475-39e5-8dac-84f5c87498a5",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "IdentifyMimeType",
          "comments": "",
          "instanceIdentifier": "92d46df2-7d2b-37ff-87a3-c3f0d2b9b5d8"
        },
        "destination": {
          "id": "ac873fb9-b9c4-31b6-a68e-a8eaaf858635",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "CompressContent",
          "comments": "",
          "instanceIdentifier": "d2b111e3-f287-3978-9caf-944dfe660452"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "6ab67f22-2518-344d-8aa3-a63f675c821e",
        "instanceIdentifier": "68b9a6d7-0195-1000-0000-0000381e315a",
        "name": "",
        "source": {
          "id": "1945a661-36e2-3db4-a3b8-cec2201860e2",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "FetchAzureBlobStorage_v12",
          "comments": "",
          "instanceIdentifier": "68b85cea-0195-1000-ffff-ffffa9efbe21"
        },
        "destination": {
          "id": "aebf5fe8-b475-39e5-8dac-84f5c87498a5",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "IdentifyMimeType",
          "comments": "",
          "instanceIdentifier": "92d46df2-7d2b-37ff-87a3-c3f0d2b9b5d8"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "533a52ba-1d8a-4a3e-9328-625a05b47788",
        "instanceIdentifier": "1dade347-e102-389a-976e-c5dca067c0fd",
        "name": "",
        "source": {
          "id": "fd1fb338-0e48-4826-b28c-f2674b79c112",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "9ccaa2dc-d7c9-3cbd-9cef-610b3f6971cd"
        },
        "destination": {
          "id": "7c48c59c-b690-4604-bb73-70e72fdcf6c1",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "LogAttribute",
          "comments": "",
          "instanceIdentifier": "ff15066b-5200-3d1c-8904-a78aa1591e2c"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "Response",
          "No Retry",
          "Retry",
          "Original",
          "Failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 seconds",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "84736828-45e7-32c5-8e15-c5e5149dfcad",
        "instanceIdentifier": "6650dfa8-2e8f-3d7e-8d0e-ff999db5af9f",
        "name": "",
        "source": {
          "id": "5c29168b-4c86-3675-98c8-145b7e6414ad",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "UnpackContent",
          "comments": "",
          "instanceIdentifier": "43a67f33-5739-3072-b086-4fe2463c972f"
        },
        "destination": {
          "id": "fd1fb338-0e48-4826-b28c-f2674b79c112",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "InvokeHTTP",
          "comments": "",
          "instanceIdentifier": "9ccaa2dc-d7c9-3cbd-9cef-610b3f6971cd"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "c9f3d01e-88fe-3b6e-bffb-a9dba6b66199",
        "instanceIdentifier": "68b8cb1d-0195-1000-0000-00000ad28903",
        "name": "",
        "source": {
          "id": "1aacf5b2-fac9-30eb-8ecd-4c580aea2c11",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "ListAzureBlobStorage_v12",
          "comments": "",
          "instanceIdentifier": "68b20a70-0195-1000-ffff-ffffb73cebd2"
        },
        "destination": {
          "id": "1945a661-36e2-3db4-a3b8-cec2201860e2",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "FetchAzureBlobStorage_v12",
          "comments": "",
          "instanceIdentifier": "68b85cea-0195-1000-ffff-ffffa9efbe21"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "44c2d7ce-d019-3c73-b610-7c8774b119f7",
        "instanceIdentifier": "effcabe7-225c-36c7-ab6e-5ba2c957f266",
        "name": "",
        "source": {
          "id": "ac873fb9-b9c4-31b6-a68e-a8eaaf858635",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "CompressContent",
          "comments": "",
          "instanceIdentifier": "d2b111e3-f287-3978-9caf-944dfe660452"
        },
        "destination": {
          "id": "5c29168b-4c86-3675-98c8-145b7e6414ad",
          "type": "PROCESSOR",
          "groupId": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3",
          "name": "UnpackContent",
          "comments": "",
          "instanceIdentifier": "43a67f33-5739-3072-b086-4fe2463c972f"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "partitioningAttribute": "",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "2ce885a8-39f5-31c2-99c5-713b885c2719",
        "instanceIdentifier": "68b50540-0195-1000-ffff-ffffe5315d90",
        "name": "AzureStorageCredentialsControllerService_v12",
        "comments": "",
        "type": "org.apache.nifi.services.azure.storage.AzureStorageCredentialsControllerService_v12",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-azure-nar",
          "version": "1.28.1.2.3.15.0-14"
        },
        "properties": {
          "storage-endpoint-suffix": "blob.core.windows.net",
          "proxy-configuration-service": null,
          "credentials-type": "ACCOUNT_KEY",
          "storage-account-name": "#{Azure Storage Account Name}",
          "account-key": "#{Azure Storage Account Key}"
        },
        "propertyDescriptors": {
          "storage-account-name": {
            "name": "storage-account-name",
            "displayName": "Storage Account Name",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "service-principal-client-secret": {
            "name": "service-principal-client-secret",
            "displayName": "Service Principal Client Secret",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "storage-sas-token": {
            "name": "storage-sas-token",
            "displayName": "SAS Token",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "storage-endpoint-suffix": {
            "name": "storage-endpoint-suffix",
            "displayName": "Endpoint Suffix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "storage-account-key": {
            "name": "storage-account-key",
            "displayName": "Account Key",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "service-principal-tenant-id": {
            "name": "service-principal-tenant-id",
            "displayName": "Service Principal Tenant ID",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "service-principal-client-id": {
            "name": "service-principal-client-id",
            "displayName": "Service Principal Client ID",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "proxy-configuration-service": {
            "name": "proxy-configuration-service",
            "displayName": "Proxy Configuration Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "credentials-type": {
            "name": "credentials-type",
            "displayName": "Credentials Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "managed-identity-client-id": {
            "name": "managed-identity-client-id",
            "displayName": "Managed Identity Client ID",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.services.azure.storage.AzureStorageCredentialsService_v12",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-azure-services-api-nar",
              "version": "1.28.1.2.3.15.0-14"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      },
      {
        "identifier": "8cb5ccad-14a6-4a8a-9f96-88636d64092b",
        "instanceIdentifier": "7c3c86fe-692d-318e-a457-8c9aa538c1ff",
        "name": "StandardSSLContextService",
        "type": "org.apache.nifi.ssl.StandardSSLContextService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-ssl-context-service-nar",
          "version": "1.28.1.2.3.15.0-14"
        },
        "properties": {
          "Truststore Type": "#{Truststore Type}",
          "SSL Protocol": "TLS",
          "Keystore Type": null,
          "Truststore Filename": "#{Truststore Filename}",
          "Truststore Password": "#{Truststore Password}",
          "Keystore Filename": null
        },
        "propertyDescriptors": {
          "Truststore Type": {
            "name": "Truststore Type",
            "displayName": "Truststore Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SSL Protocol": {
            "name": "SSL Protocol",
            "displayName": "TLS Protocol",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Keystore Type": {
            "name": "Keystore Type",
            "displayName": "Keystore Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Truststore Filename": {
            "name": "Truststore Filename",
            "displayName": "Truststore Filename",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "Keystore Password": {
            "name": "Keystore Password",
            "displayName": "Keystore Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "key-password": {
            "name": "key-password",
            "displayName": "Key Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "Truststore Password": {
            "name": "Truststore Password",
            "displayName": "Truststore Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "Keystore Filename": {
            "name": "Keystore Filename",
            "displayName": "Keystore Filename",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.ssl.SSLContextService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.28.1.2.3.15.0-14"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "3adfdaa5-1062-3fb3-8f14-650cb7449ca3"
      }
    ],
    "variables": {},
    "parameterContextName": "rag studio parameters",
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "componentType": "PROCESS_GROUP",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
  },
  "externalControllerServices": {},
  "parameterContexts": {
    "rag studio parameters": {
      "name": "rag studio parameters",
      "parameters": [
        {
          "name": "Truststore Type",
          "sensitive": false,
          "provided": false,
          "value": "JKS"
        },
        {
          "name": "Rag Studio Datasource ID",
          "description": "Each datasource has an ID associated with it.",
          "sensitive": false,
          "provided": false,
          "value": "$$$RAG_STUDIO_DATASOURCE_ID$$$"
        },
        {
          "name": "Truststore Filename",
          "sensitive": false,
          "provided": false,
          "value": null
        },
        {
          "name": "Authorization token",
          "description": "A CML API key created with Application capabilities",
          "sensitive": true,
          "provided": false,
          "value": "Bearer <FILL IN API KEY HERE>"
        },
        {
          "name": "Truststore Password",
          "sensitive": true,
          "provided": false
        },
        {
          "name": "Rag Studio URL",
          "sensitive": false,
          "provided": false,
          "value": "$$$RAG_STUDIO_URL$$$"
        },
        {
          "name": "Azure Storage Account Name",
          "sensitive": true,
          "provided": false,
          "value": null
        },
        {
          "name": "Azure Storage Account Key",
          "sensitive": true,
          "provided": false,
          "value": null
        },
        {
          "name": "Azure Storage Container Name",
          "sensitive": false,
          "provided": false,
          "value": null
        }
      ],
      "inheritedParameterContexts": [],
      "componentType": "PARAMETER_CONTEXT"
    }
  },
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}